<section class="main">

  <div class="content">
    <h1>Hola, Mi nombre es Janco Boscan</h1>

    <div style="display: inline-flex">
      <span class="content__corchete">{{'{'}}</span>

      <div class="content__container">
        <p class="content__container__text">
          Hello:
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">Angular !</li>
          <li class="content__container__list__item">Firebase !</li>
          <li class="content__container__list__item">Frontend !</li>
          <li class="content__container__list__item">Javascript !</li>
        </ul>
      </div>

      <span class="content__corchete">{{'}'}}</span>
    </div>
  </div>

</section>

<section class="blog">

  <h1 style="text-align: center; color: white; margin: 20px 0">Últimas entradas al Blog</h1>

  <div fxLayout="row wrap" style="justify-content: center; align-items: center; margin-bottom: 25px">

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="100" fxFlex.xs="90">

      <div fxLayout="row wrap">

        <div fxFlex="20" fxFlex.md="25" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let blog of blogList">
          <mat-card style="margin: 10px 10px;">
            <img mat-card-image src="{{blog.img}}" alt="{{blog.title}}">
            <mat-card-content class="blog-content">
              <p>{{blog.title}}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

    </div>

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

  </div>

</section>

<section class="whois">

  <div fxLayout="row wrap">

    <h1 fxFlex="100" style="text-align: center; color: white; margin: 20px 0">¿Quien soy y Por qué esta web?</h1>


  </div>

</section>

<section></section>
