<section class="main">

  <div class="content">
    <h1 style="margin: 2px 0 20px 0">Hola, Mi nombre es Janco Boscan</h1>

    <div style="display: inline-flex">
      <span class="content__corchete">{{'{'}}</span>

      <div class="content__container">
        <p class="content__container__text">
          Hello:
        </p>

        <ul class="content__container__list">
          <li class="content__container__list__item">Angular !</li>
          <li class="content__container__list__item">Firebase !</li>
          <li class="content__container__list__item">Frontend !</li>
          <li class="content__container__list__item">Javascript !</li>
        </ul>
      </div>

      <span class="content__corchete">{{'}'}}</span>
    </div>
  </div>

</section>

<section class="blog" style="min-height: 400px;">

  <h1 style="text-align: center; color: white; margin: 20px 0">Últimas entradas al Blog</h1>

  <div fxLayout="row wrap" style="justify-content: center; align-items: center;">

    <div fxFlex="10" fxHide.xs></div>

    <div fxFlex="80" fxFlex.xs="100">

      <div fxLayout="row wrap">

        <div fxFlex="20" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" *ngFor="let blog of blogList">
          <mat-card style="margin: 10px 10px;">
            <img mat-card-image src="{{blog.img}}" alt="{{blog.title}}">
            <mat-card-content>
              <p>{{blog.title}}</p>
            </mat-card-content>

            <mat-card-actions style="text-align: center;">
              <button mat-raised-button color="accent">VISITAR</button>
            </mat-card-actions>
          </mat-card>
        </div>

      </div>

    </div>

    <div fxFlex="10" fxHide.xs></div>

  </div>

</section>

<section class="whois">

</section>

<section></section>
