<section class="main">

  <div id=container>
    <div>Hola, Mi nombre es Janco Boscan</div>

    <!--A Cambiar-->
    <div style="display: inline-flex; justify-content: center; align-items: center;">
      <div id=flip>
        <div><div> JavaScript Developer </div></div>
        <div><div> Angular Developer </div></div>
        <div><div> Frontend Developer </div></div>
      </div>
    </div>

    <div>¡ Bienvenidos !</div>

  </div>

</section>

<section class="blog">

  <div fxLayout="row wrap" style="justify-content: center; align-items: center; height: 100%;">

    <div fxFlex="10"></div>

    <div fxFlex="80">
      <div fxFlex="20">
        <mat-card style="margin: 0 10px;">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="20">
        <mat-card style="margin: 0 10px;">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="20">
        <mat-card style="margin: 0 10px;">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="20">
        <mat-card style="margin: 0 10px;">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="20">
        <mat-card style="margin: 0 10px;">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxFlex="10"></div>

  </div>

</section>

<section class="whois">

</section>

<section></section>
